{% load static %}
<html>
<head>
    <title>Ahmad Tanto Wiraga 181810101036</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
<h4>TUGAS AKHIR PEMROGRAMAN LANJUT</h4>

<p>
    Nama: Ahmad Tanto Wiraga
</p>
<p>
    NIM : 181810101036
</p>
<p>
    Jurusan : Matematika
</p>

<h4>
    Proses enkripsi atau deskripsi:
</h4>
<h3>
    <a href="/enkripsi" title="">ENKRIPSI</a>
</h3>
<h3>
    <a href="/deskripsi" title="">DESKRIPSI</a>
</h3>


</body>
</html>
